.usersListPage {
  margin-bottom: 100px;
  .usersListFooter {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .requiredInput {
    color: #f00;
  }
  .optionalInput {
    color: #999;
  }
}

